/WebApplication_01/nbproject/private/
/WebApplication_01/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication0_4b/nbproject/private/
/WebApplication0_4b/build/
/WebApplication0_4c/nbproject/private/
/WebApplication0_4c/build/
/WebApplication0_4a/build/
/WebApplication0_4a/dist/
/WebApplication0_4a/nbproject/private/
/WebApplication05_a/nbproject/private/
/WebApplication05_a/build/
/WebApplication05_a/dist/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/WebApplication_07_JSP_a/nbproject/private/
/WebApplication_07_JSP_a/build/
/WebApplication_07_JSP_b/nbproject/private/
/WebApplication_07_JSP_b/build/
/WebApplication_08/nbproject/private/
/WebApplication_08/build/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/WebApplication_10/nbproject/private/
/WebApplication_10/build/
/WebApplication_DU_AN_PJ/nbproject/private/
/WebApplication_DU_AN_PJ/build/
/WebApplication_11/nbproject/private/
/WebApplication_11/build/